@font-face {
    font-family: Brandon;
    src: url("/shanmeis-notes/assets/Brandon.ttf");
}
@font-face {
    font-family: Yeseva One;
    src: url("/shanmeis-notes/assets/YesevaOne-Regular.ttf");
}
@font-face {
    font-family: Brightwall;
    src: url("/shanmeis-notes/assets/Brightwall.ttf");
}
body {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-family: 'Brightwall';
    text-align: center;
    color: #28007D;
    font-size: 50px;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    font-family: 'Yeseva One';
}

p {
    font-family: 'Brandon';
}

iframe {
    width: 900px;
    height: 500px;
}

a {
    background-color: #FFEDFF;
    color: #DC1D53
}

a:hover {
    background-color: #fae1fa;
    color: #bf1b49;
}
.footer {
    font-size: smaller;
    background-color: #f7f7f7;
    text-align: center;
}
.home {
    background-color: #ffffff;
    color:#28007D;
    font-weight: bold;
}
.home:hover{
    color: #23006e;
}

img {
    width: 100px;
    margin-top: 20px;
    display: block;
    margin-left: 450px;
}