@font-face {
    font-family: Brandon;
    src: url("../../assets/Brandon.ttf");
}
@font-face {
    font-family: Yeseva One;
    src: url("../../assets/YesevaOne-Regular.ttf");
}
@font-face {
    font-family: Brightwall;
    src: url("../../assets/Brightwall.ttf");
}
body {
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-family: 'Brightwall';
    text-align: center;
    color: #28007D;
    font-size: 50px;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    font-family: 'Yeseva One';
}

p {
    font-family: 'Brandon';
}

.poem {
    text-align: center !important;
}

iframe {
    width: 900px;
    height: 500px;
}

a {
    background-color: #FFEDFF;
    color: #DC1D53;
    border-radius: 5px;
}

a:hover {
    background-color: #fae1fa;
    color: #bf1b49;
    border-radius: 5px;
}
.footer {
    font-size: smaller;
    background-color: #f7f7f7;
    text-align: center;
    font-family: Brandon;
    margin: 0px;
    position: absolute;
    bottom: 0;
}
.home {
    color: #28007D;
    font-weight: bold;
    background-color: #f7f7f7;
}
.home:hover{
    color: #3e08b1;
    background-color: #f7f7f7;
}

img {
    width: 100px;
    display: block;
    margin: auto;
    padding: 20px;
}
ul, ol {
    font-family: 'Brandon';
}

.osmosis {
    text-align: left;
    width: 60%;
}

